.table-section{
    &__grid{
        display: none;
        margin-top: 60px;
        padding-bottom: 50px;
        margin-left: calc( ( 100% - 1170px ) / 2 );
        overflow-x: auto;
        &_opened{
            display: block;
        }
    }
}

//Media
@media screen and ( max-width: 1199px ){
    .table-section{
        &__grid{
            margin-left: calc( ( 100% - 960px ) / 2 );
        }
    }
}

@media screen and ( max-width: 991px ){
    .table-section{
        &__grid{
            margin-left: calc( ( 100% - 720px ) / 2 );
        }
    }
}

@media screen and ( max-width: 767px ){
    .table-section{
        &__grid{
            margin-left: calc( ( 100% - 540px ) / 2 );
        }
    }
}

@media screen and ( max-width: 575px ){
    .table-section{
        &__grid{
            margin-left: 15px;
        }
    }
}