.tipr{
    &_point{
        &_above{
            border: none;
            &::before{
                border-top-color: $black-color;
            }
            &::after{
                border-top-color: $black-color;
            }
        }
    }
    &_container{
        &_above{
            box-shadow: none;
        }
    }
    &_content{
        border-radius: 5px;
        background: $black-color;
        font-size: 16px;
        color: $white-color;
        text-transform: none;
        padding: 10px 30px;
        white-space: nowrap;
        letter-spacing: 0;
        line-height: 24px;
    }
}