.btn{
    padding: 0 45px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    @include font-weight( 'bold' );
    color: $white-color;
    background: $bright-color;
    border-radius: 5px;
    &:hover{
        background: darken( $bright-color, 5% );
        color: $white-color;
    }
    &:active{
        background: darken( $bright-color, 10% );
        color: $white-color;
    }
    &:focus{
        background: darken( $bright-color, 10% );
        color: $white-color;
    }
}