.form{
    &__row{
        margin-bottom: 30px;
    }
    &__group{
        @include flex( row, center, flex-start );
    }
    &__input{
        @include flex( column, flex-start, flex-start );
        &_width{
            &-s{
                width: 50%;
                flex: 1 1 auto;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        & input{
            width: 100%;
            height: 50px;
            border-radius: 5px;
            border: 2px solid $gray-color;
            padding: 0 20px;
            &:focus{
                border-color: darken( $gray-color, 5% );
            }
            &:active{
                border-color: darken( $gray-color, 5% );
            }
        }
    }
    &__label{
        display: inline-block;
        font-size: 18px;
        @include font-weight( 'medium' );
        margin-bottom: 10px;
        & span{
            color: $secondary-color;
            margin-left: 5px;
        }
    }
    &__textarea{
        & textarea{
            height: 100px;
            width: 100%;
            border-radius: 5px;
            border: 2px solid $gray-color;
            padding: 15px 20px;
            display: block;
        }
    }
    &__btn{
        cursor: pointer;
    }
}

.wpcf7-form-control-wrap{
    display: block;
    width: 100%;
}

span.wpcf7-not-valid-tip{
    position: absolute;
    top: calc( 100% + 3px );
    left: 0;
    font-size: 10px;
}

div.wpcf7-response-output{
    margin: 0;
    margin-top: 15px;
    border: none;
    padding: 0;
    text-align: left;
    font-size: 15px;
}