.choice{
    margin-top: 30px;
    @include flex( row, center, flex-start );
    &__radio{
        margin-right: 25px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__currency{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
}