.notes-section{
    background: $white-color;
    &__title{
        color: $black-color;
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 40px;
        &-item{
            @include flex( row, flex-start, flex-start );
            line-height: 1.4;
            font-size: 16px;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
            & svg{
                flex-shrink: 0;
                margin-right: 15px;
                position: relative;
                top: 5px;
            }
        }
    }
}