.article-template{
    background: $white-color;
    &__title{
        color: $primary-color;
    }
    &__content{
        margin-top: 30px;
        background: $white-color;
        & p{
            margin: 0;
            font-size: 16px;
            line-height: 1.42;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        & ul, ol{
            & li{
                margin: 0;
                font-size: 16px;
                line-height: 1.42;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        & a{
            text-decoration: none;
            display: inline;
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
        }
    }
}