.table {
    & tr {
        & th {
            text-align: center;
            color: rgba($white-color, .8);
            padding: 0 5px;
            padding-bottom: 20px;
            @include font-weight('light');
        }
        &:nth-child(2){
            & th{
                background: $bright-color;
                padding: 30px 5px;
                font-size: 18px;
                color: $white-color;
                @include font-weight('bold');
                border-right: 2px solid rgba( $gray-color, .3 );
                &:last-child{
                    border: none;
                }
                &:first-child{
                    border-top-left-radius: 5px;
                }
                & a{
                    font-size: 18px;
                    color: $white-color;
                    @include font-weight('bold');
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    & .info-row{
        & td{
            background: $white-color;
            padding: 25px 5px;
            white-space: nowrap;
            font-size: 22px;
            text-align: center;
            border-right: 2px solid rgba( $gray-color, .3 );
            @include font-weight('light');
            &:first-child{
                padding: 25px 30px;
                font-size: 16px;
                text-align: left;
                width: 260px;
            }
            &:last-child{
                border: none;
            }
        }
        &:nth-child(even){
            & td{
                background: $light-color;
            }
        }
        &:nth-child(3){
            & td{
                font-size: 28px;
                @include font-weight('bold');
                color: rgba($black-color, .8);
                &:first-child{
                    border-bottom-left-radius: 5px;
                    font-size: 18px;
                    color: $black-color;
                }
            }
        }
    }
    & .reviews-header{
        & td{
            padding: 20px 0;
            font-size: 32px;
            @include font-weight('light');
            color: $white-color;
        }
    }
    & .table-scroll{
        @include flex(row, center, flex-end);
        font-size: 18px;
        @include font-weight('medium');
        & svg{
            margin-left: 10px;
        }
    }
    & .reviews-row{
        & td{
            padding: 10px 30px;
            background: $white-color;
            border-right: 2px solid rgba( $gray-color, .3 );
            font-size: 18px;
            @include font-weight('light');
            text-align: center;
            min-width: 250px;
            &:last-child{
                border: none;
            }
            &:first-child{
                text-align: left;
            }
        }
        &:nth-child(5){
            & td{
                &:first-child{
                    border-top-left-radius: 5px;
                }
            }
        }
        &:nth-child(odd){
            & td{
                background: $light-color;
            }
        }
        &.last{
            & td{
                &:first-child{
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
    & .pros-row{
        margin-bottom: 40px;
        & td{
            font-size: 14px;
            @include font-weight('light');
            background: $white-color;
            padding: 15px 30px;
            border-right: 2px solid rgba( $gray-color, .3 );
            border-bottom: 1px solid rgba($bright-color, .3);
            &:last-child{
                border-right: none;
            }
            &:first-child{
                background: transparent;
                border: none;
            }
        }
        &.first{
            & td{
                &:nth-child(2){
                    border-top-left-radius: 5px;
                }
            }
        }
        &.last{
            & td{
                border-bottom: none;
                &:nth-child(2){
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
    & .cons-row{
        margin-bottom: 40px;
        & td{
            font-size: 14px;
            @include font-weight('light');
            background: $white-color;
            padding: 15px 30px;
            border-right: 2px solid rgba( $gray-color, .3 );
            border-bottom: 1px solid rgba($cons-color, .3);
            &:last-child{
                border-right: none;
            }
            &:first-child{
                background: transparent;
                border: none;
            }
        }
        &.first{
            & td{
                &:nth-child(2){
                    border-top-left-radius: 5px;
                }
            }
        }
        &.last{
            & td{
                border-bottom: none;
                &:nth-child(2){
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
    & .separator{
        & td{
            padding: 20px;
        }
    }
    & .pros-cons-col{
        margin: 0;
        @include flex( row, center, center );
        font-size: 30px;
        color: $white-color;
        @include font-weight('normal');
        & svg{
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
    & .savings-col{
        margin: 0;
        padding: 0 40px;
        text-align: right;
        font-size: 30px;
        color: $white-color;
        @include font-weight('normal');
    }
    & .savings-row{
        & td{
            font-size: 16px;
            text-align: center;
            background: $white-color;
            padding: 15px 30px;
            border-right: 2px solid rgba( $gray-color, .3 );
            border-bottom: 1px solid rgba( $gray-color, .3 );
            &:first-child{
                background: transparent;
                border: none;
            }
        }
        &.first{
            & td{
                font-size: 28px;
                color: rgba($black-color, .8);
                &:nth-child(2){
                    border-top-left-radius: 5px;
                }
            }
        }
        &.last{
            & td{
                border-bottom: none;
                @include font-weight('light');
                &:nth-child(2){
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}