.hero{
    padding: 110px 0;
    padding-bottom: 55px;
    &__title{
        margin: 0;
        font-size: 50px;
        line-height: 60px;
        @include font-weight( 'bold' );
        color: $light-color;
        max-width: 830px;
    }
    &__note{
        margin: 0;
        font-size: 30px;
        line-height: 45px;
        color: $light-color;
        @include font-weight( 'light' );
        margin-top: 70px;
    }
    &__text{
        margin-top: 120px;
        & p{
            margin: 0;
            font-size: 24px;
            color: $light-color;
            line-height: 35px;
        }
    }
}