.blog-template{
    &__grid{
        margin-top: 100px;
    }
    &__col{
        margin-bottom: 100px;
    }
    &__footer{
        @include flex( row, center, center );
    }
    &__btn{
        @include flex( row, center, center );
        text-decoration: none;
        padding: 0 50px;
        height: 50px;
        border: 2px solid $bright-color;
        border-radius: 5px;
        color: $white-color;
        font-size: 18px;
        &:hover{
            background: $bright-color;
        }
    }
}