.footer-menu{
    &__wrapper{
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex( row, center, center );
    }
    &__item{
        padding: 0 30px;
    }
    &__link{
        text-decoration: none;
        font-size: 18px;
        @include font-weight( 'light' );
        &:hover{
            color: rgba( $black-color, .7 );
        }
    }
}

.current-menu-item{
    & .footer-menu{
        &__link{
            color: rgba( $black-color, .7 );
            &::after{
                opacity: 1;
                transform: none;
            }
        }
    }
}