.tooltip{
        display: inline-block !important;
        color: $white-color !important;
        @include font-weight('light');
        padding: 15px 30px !important;
        background: $black-color !important;
        border-radius: 5px !important;
        border: none !important;
        box-shadow: none !important;
}