.blog-item{
    position: relative;
    padding-top: 80px;
    &__meta{
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 1;
    }
    &__img{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba( $black-color, .3 );
            top: 0;
            left: 0;
        }
    }
    &__date{
        margin: 0;
        color: $light-color;
        @include font-weight( 'light' );
        margin-bottom: 10px;
    }
    &__title{
        text-decoration: none;
        font-size: 36px;
        @include font-weight( 'bold' );
        color: $light-color;
    }
    &__share{
        position: absolute;
        right: 30px;
        bottom: -25px;
        width: 50px;
        height: 50px;
        @include flex( row, center, center );
        background: $bright-color;
        border-radius: 50%;
        &:hover{
            background: darken( $bright-color, 5% );
        }
    }
    &__wrapper{
        position: relative;
        margin-bottom: 30px;
    }
    &__text{
        margin: 0;
        line-height: 1.4;
        font-size: 18px;
        color: $white-color;
        @include font-weight( 'light' );
    }
    &__link{
        text-decoration: none;
        margin-top: 30px;
        @include flex( row, center, flex-start );
        font-size: 18px;
        @include font-weight( 'bold' );
        color: $white-color;
        & svg{
            margin-left: 15px;
        }
    }
}