@media screen and ( max-width: 1229px ){
    .ui-slider-handle{
        &::before{
            content: none;
        }
        &::after{
            content: none;
        }
    }
    .math{
        padding: 40px 0;
        &__title{
            margin-bottom: 30px;
        }
        &__row{
            padding: 0;
            padding: 40px 0;
            &:first-child{
                padding: 0;
            }
        }
        &__grid{
            margin: 0;
            padding: 40px 0;
            border-bottom: 1px solid $light-color;
            &:last-child{
                border: none;
            }
            &_direction{
                &-c{
                    padding: 0;
                    border: none;
                }
            }
        }
    }
    .inputs{
        margin-top: 60px;
        justify-content: flex-start;
        &_position{
            &-left{
                padding: 0;
            }
        }
    }
}
@media screen and ( max-width: 991px ){
    .footer{
        &__social{
            margin-top: 30px;
            margin-bottom: 50px;
        }
        &__col{
            margin-bottom: 30px;
            padding: 0;
        }
    }
    .logo{
        display: block;
        font-size: 25px;
        text-align: left;
    }
    .social{
        justify-content: flex-start;
        &__link{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .footer-menu{
        margin-top: 30px;
        &__wrapper{
            justify-content: flex-start;
        }
        &__item{
            padding: 0;
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .hero{
        padding: 80px 0;
        &__title{
            font-size: 35px;
            line-height: 1.4;
        }
        &__note{
            font-size: 18px;
            margin-top: 20px;
            line-height: 1.4;
        }
        &__text{
            margin-top: 40px;
            & p{
                font-size: 16px;
                line-height: 1.4;
            }
        }
    }
    .choice{
        flex-direction: column;
        align-items: flex-start;
        &__radio{
            margin: 0;
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .blog-item{
        &__title{
            font-size: 30px;
        }
    }
}
@media screen and ( max-width: 767px ){
    .hero{
        padding: 50px 0;
        &__title{
            font-size: 30px;
        }
        &__note{
            font-size: 16px;
            margin-top: 20px;
        }
        &__text{
            margin-top: 35px;
            & p{
                font-size: 14px;
            }
        }
    }
    .footer{
        padding: 50px 0;
    }
    .section{
        padding: 70px 0;
        &__title{
            font-size: 30px;
        }
        &__desc{
            font-size: 16px;
            line-height: 1.4;
        }
    }
    .contacts-section{
        &__grid{
            padding: 50px 30px;
        }
    }
    .menu{
        &__wrapper{
            justify-content: center;
        }
        &__item{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
        &__link{
            font-size: 20px;
        }
    }
    .logo{
        text-align: center;
    }
    .masonry-grid{
        &__item{
            width: 100%;
        }
    }
    .template{
        &__title{
            font-size: 25px;
        }
    }
}
@media screen and ( max-width: 575px ){
    .logo{
        font-size: 23px;
    }
    .menu{
        &__link{
            font-size: 16px;
        }
    }
    .header{
        &__logo{
            padding: 15px 0;
        }
    }
    .hero{
        padding: 40px 0;
        &__title{
            font-size: 25px;
        }
        &__note{
            font-size: 15px;
            margin-top: 15px;
        }
        &__text{
            margin-top: 30px;
            & p{
                font-size: 13px;

            }
        }
    }
    .footer{
        padding: 40px 0;
        &__copyright{
            margin-top: 50px;
        }
        &__logo{
            font-size: 23px;
        }
        &__link{
            &::after{
                content: none;
            }
        }
    }
    .copyright{
        font-size: 14px;
    }
    .footer-menu{
        &__item{
            padding: 0;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__link{
            font-size: 16px;
        }
        &__wrapper{
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .section{
        padding: 50px 0;
        &__title{
            font-size: 25px;
        }
        &__desc{
            font-size: 15px;
        }
    }
    .contacts-section{
        &__grid{
            padding: 30px 15px;
            margin-top: 50px;
        }
    }
    .form{
        &__label{
            font-size: 15px;
        }
        &__group{
            flex-direction: column;
            align-items: stretch;
        }
        &__input{
            &_width{
                &-s{
                    width: 100%;
                    margin: 0;
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .btn{
        font-size: 20px;
    }
    .notes-section{
        &__list{
            &-item{
                font-size: 15px;
            }
        }
    }
    .math{
        &__title{
            font-size: 18px;
            line-height: 1.4;
            &-info{
                display: none;
            }
        }
    }
    .search{
        &__btn{
            padding: 0 15px;
        }
    }
    .blog-template{
        &__grid{
            margin-top: 50px;
        }
        &__col{
            margin-bottom: 50px;
        }
    }
    .blog-item{
        padding-top: 55px;
        &__title{
            font-size: 25px;
        }
        &__text{
            font-size: 15px;
        }
    }
    .template{
        &__title{
            font-size: 25px;
        }
    }
}