.menu{
    &__wrapper{
        @include flex( row, center, flex-end );
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        margin-right: 40px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        font-size: 20px;
        text-decoration: none;
        line-height: 30px;
        @include font-weight( 'light' );
        color: $light-color;
        &::after{
            background: $white-color;
        }
        &:hover{
            color: rgba( $white-color, .7 );
        }
    }
}

.current-menu-item{
    & .menu{
        &__link{
            color: rgba( $white-color, .7 );
            &::after{
                opacity: 1;
                transform: none;
            }
        }
    }
}