.inputs{
    @include flex( row, center, flex-end );
    &__item{
        width: 110px;
        height: 50px;
        border: 2px solid $gray-color;
        border-radius: 5px;
        font-size: 18px;
        padding: 0 10px;
    }
    &__price{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @include flex( row, center, flex-end );
        border-right-width: 1px;
        padding-right: 0;
        & input{
            flex: 1 1 auto;
            width: 100%;
            height: 100%;
            padding: 0 5px;
            font-size: 18px;
        }
    }
    &__select{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 1px;
        padding: 0;
        text-align: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 16px;
            height: 10px;
            background: icon('icon-arrow.svg') no-repeat 50%;
            top: 50%;
            margin-top: -5px;
            right: 10px;
        }
        & select{
            height: 100%;
            width: 100%;
            padding-right: 35px;
            padding-left: 10px;
            font-size: 18px;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
        }
    }
    &__tickets{
        & input{
            font-size: 18px;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }
    &_position{
        &-left{
            padding-left: 50px;
            justify-content: flex-start;
        }
    }
}