.review-stars{
    @include flex( row, center, center );
    position: relative;
    width: 130px;
    &__number{
        font-size: 18px;
        @include font-weight( 'light' );
        position: absolute;
        left: calc( 100% + 15px );
    }
}