// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Font
$font: 'Montserrat';
$title-font: '';
$base-font-size: 16px;
//Url
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #333;
$gray-color: #BDCEDE;
$light-color: #f3f3f3;
$primary-color: #282C82;
$secondary-color: #57CFEA;
$bright-color: #20E3B5;
$cons-color: #EB5757;
//Font weight
$font-weight: (
    'light': 300,
    'normal': normal,
    'medium': 500,
    'bold': bold,
    'extra': 800
);
