.math{
    background: $white-color;
    padding: 40px 0;
    padding-bottom: 20px;
    &__row{
        padding: 60px 0;
        border-bottom: 1px solid $light-color;
        &:last-child{
            border-bottom: none;
        }
        &_padding{
            &-s{
                padding: 40px 0;
            }
        }
    }
    &__grid{
        margin-bottom: 100px;
        &:last-child{
            margin-bottom: 0;
        }
        &_direction{
            &-c{
                flex-direction: column;
            }
        }
    }
    &__title{
        @include flex( row, center, flex-start );
        margin: 0;
        font-size: 22px;
        @include font-weight( 'bold' );
        line-height: 27px;
        &-info{
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            margin-left: 10px;
            cursor: pointer;
            font-size: 16px;
            @include font-weight( 'light' );
        }
    }
}