.rating {
    border: none;
    float: left;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.rating>input {
    display: none;
    pointer-events: none;
}

.rating>label:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: icon('icon-star.svg') no-repeat 50%;
    background-size: cover;
}

.rating>.half:before {
    position: absolute;
    left: 6px;
    top: 0;
    background: icon('icon-half-star-empty.svg') no-repeat 50%;
    background-size: cover;
    opacity: 0;
}

.rating>label {
    float: right;
    margin: 0 3px;
    position: relative;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating>input:checked~label:before {
    background: icon('icon-full-star.svg') no-repeat 50%;
    background-size: cover;
}

// .rating>input:checked+.half:before {
//     background: icon('icon-half-star.svg') no-repeat 50%;
//     background-size: cover;
// }