.footer{
    padding: 50px 0;
    padding-top: 140px;
    background: $white-color;
    &__logo{
        text-decoration: none;
        font-size: 30px;
        @include font-weight( 'extra' );
        letter-spacing: .05em;
    }
    &__social{
        justify-content: flex-end;
    }
    &__copyright{
        margin-top: 90px;
    }
    &__col{
        padding-top: 75px;
        @include flex( column, flex-start, flex-start );
    }
    &__link{
        text-decoration: none;
        @include font-weight( 'light' );
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}