.link{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba( $black-color, .5 );
        top: 100%;
        left: 0;
        transform: translateY(3px);
        transition: transform .3s linear, opacity .3s linear;
        opacity: 0;
        z-index: 1;
    }
    &:hover{
        &::after{
            opacity: 1;
            transform: translateY(0);
        }
    }
}