.search{
    @include flex( row, stretch, center );
    &__input{
        flex: 1 1 auto;
        & input{
            width: 100%;
            height: 100%;
            background: $white-color;
            border-radius: 5px;
            padding: 0 20px;
        }
    }
    &__btn{
        @include flex( row, center, center );
        flex-shrink: 0;
        margin-left: 10px;
    }
}

body{
    &.search{
        display: block;
    }
}