.range{
    width: 100%;
    position: relative;
    & .ui-widget.ui-widget-content{
        border: none;
        height: 2px;
        background: $gray-color;
        border-radius: 0;
    }
    & .ui-slider-horizontal .ui-slider-handle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $primary-color;
        border: none;
        top: -14px;
        margin-left: -15px;
        cursor: pointer;
    }
    &__value{
        position: absolute;
        margin: 0;
        top: 20px;
        left: 0;
        font-size: 16px;
        color: $gray-color;
        @include font-weight( 'light' );
    }
    &__max{
        right: 0;
        left: auto;
    }
}

.ui-slider-handle{
    position: relative;
    outline-style: none;
    &::before{
        content: attr(data-value);
        position: absolute;
        @include flex( row, center, center );
        bottom: calc( 100% + 20px );
        left: 50%;
        width: 90px;
        height: 45px;
        font-size: 18px;
        color: $white-color;
        @include font-weight( 'bold' );
        background: $bright-color;
        border-radius: 5px;
        margin-left: -45px;
    }
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: $bright-color;
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
    }
}