// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.title{
    margin: 0;
    font-size: 24px;
    text-decoration: none;
    @include font-weight('light');
}