.social{
    @include flex( row, center, flex-start );
    &__link{
        width: 32px;
        height: 32px;
        margin-right: 35px;
        &:last-child{
            margin-right: 0;
        }
    }
}