.currency{
    cursor: pointer;
    position: relative;
    display: block;
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        &:checked{
            & + .currency{
                &__value{
                    background: $primary-color;
                    border-color: $primary-color;
                    color: $white-color;
                    @include font-weight( 'bold' );
                }
            }
        }
    }
    & svg{
        flex-shrink: 0;
        margin-right: 10px;
    }
    &__value{
        @include flex( row, center, center );
        margin: 0;
        padding: 10px 15px;
        border: 2px solid $gray-color;
        border-radius: 5px;
        font-size: 18px;
        text-transform: uppercase;
        @include font-weight( 'light' );
        &:hover{
            border-color: $primary-color;
        }
    }
}