.radio{
    position: relative;
    display: block;
    cursor: pointer;
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        &:checked{
            & + .radio{
                &__value{
                    &::after{
                        opacity: 1;
                    }
                    &:hover{
                        &::before{
                            border-color: $gray-color;
                        }
                    }
                }
            }
        }
    }
    &__value{
        margin: 0;
        @include font-weight( 'light' );
        font-size: 18px;
        padding-left: 40px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            left: 0;
            top: 50%;
            margin-top: -15px;
            border: 2px solid $gray-color;
            border-radius: 50%;
        }
        &::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 5px;
            top: 50%;
            margin-top: -10px;
            background: $primary-color;
            border-radius: 50%;
            opacity: 0;
            transition: opacity .3s linear;
        }
        &:hover{
            &::before{
                border-color: $primary-color;
            }
        }
    }
    &__icon{
        &-universe{
            max-width: 115px;
        }
        &-ttailor{
            max-width: 150px;
        }
        &-billeto{
            max-width: 100px;
        }
    }
}