.section{
    padding: 120px 0;
    &__title{
        margin: 0;
        font-size: 32px;
        color: $white-color;
        @include font-weight( 'light' );
    }
    &__desc{
        margin: 0;
        font-size: 18px;
        color: $white-color;
        @include font-weight( 'light' );
        margin-top: 15px;
    }
}